<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="root">
        <div v-if="show">
            {{ count }}
            <button v-on:click="count++">increase</button>
            <button @click="count--">decrease</button>
        </div>

        <button @click="show = !show">
            <span v-if="!show">show</span>
            <span v-else>hidden</span>
        </button>
    </div>

    <script src="./js/app.js"></script>
</body>
</html>